{% macro search() %}
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
{% endmacro %}

{% macro nav(tags) %}
    <nav class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Dropdown
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% for tag in tags %}
                        <a href="/{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
    </nav>
{% endmacro %}